.form {
  background: #3AD886;
  width: 28vw;
  height: 80vh;
  padding: 1em;
  border-radius: 5px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

.form-product-image {
  margin-left: 10%;
  width: 200;
}

form {
  width: 100%;
}

input {
  margin-top: 0.5em;
  width: 100%;
}

.form-product-image-url {
  text-align: left;
  margin-top: 1em;
}

.form-product-name {
  text-align: left;
  margin-top: 1em;
}

.form-product-price {
  text-align: left;
  margin-top: 1em;
}

.form-buttons {
  margin-top: 1em;
}

.form-buttons {
  width: 100%;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.form-button {
  background-color: #D34735;
  border-radius: 5px;
  height: 4vh;
  font-weight: 500;
}