.App {
  text-align: center;
}

.user-display {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
  align-content: stretch;
  margin: 2vw 12vw;
}